body {
    background-color: #FFE6EE;
}

.vertical-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40;
}

.zitat{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
}

.startbutton {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    font-size: 18px;
    margin: 0 auto;
}